.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;

    @media screen and (max-width:750px) {
        width: 20rem;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
    }
}