.header {
    display: flex;
    padding: .2rem 2rem;
    height: 3.5rem;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px 1px black;
    cursor: default;
    background-color: #240090;
    color: #ff00ff;
    font-weight: 800;
}