button {
    width: 2rem;
    height: 2rem;
    font-weight: 600;
    border: 0.1rem solid #f58f29;
    border-radius: 10px;
    background-color: #f58f29;
    color: white;
    cursor: pointer;
}

.selectedButton {
    background-color: #153040;
    border: 0.1rem solid #153040;
}