button {
    width: 2rem;
    height: 2rem;
    font-weight: 600;
    border: 0.1rem solid #ff00ff;
    border-radius: 10px;
    background-color: #ff00ff;
    color: #eae7DC;
    cursor: pointer;
}

.selectedButton {
    background-color: #240090;
    border: 0.1rem solid #240090;
}